* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%; /*1rem - 10px*/
  font-family: Arial, Helvetica, sans-serif;
  color: #FFF;
}

a {
  color: #FFF;
  text-decoration: none;
}

body {
  height: 100vh;
  font-size: 1.6rem;
}

.header-navbar {
  display: flex;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(48, 71, 94, 1);
  height: 50px;
}

.header-navbar nav {
  height: 100%;
}

.header-navbar ul {
  height: 100%;
  display: flex;
  list-style: none;
  margin-right: 20px;
}

.header-navbar ul li {
  height: 100%;
  /* margin-left: 20px; */
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-navbar ul li:hover {
  background-color: rgb(105, 48, 195);
}

.ctaction {
  height: 300px;
  background-image: url(../assets/img/among-us-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 10rem 0;

}

.ctaction__text-container {
  width: 50rem;
  margin: 0 auto;
  text-align: center;
}

.ctaction__tittle {
  font-size: 5rem;
}

.ctaction__message {
  font-size: 2.5rem;
}

.form-section {
  height: 40rem;
  padding: 3rem;
  background-color: #374045;
}
 
.form-section__container {
  width: 50rem;
  height: 100%;
  margin: 0 auto;
}

.form-section__container .form {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-section__input label {
  display: flex;
  flex-direction: column;
}

.form-section__input .notificaciones {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
}